:root {
  --bg: #ffffff;
}
.wrapper {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  position: fixed;
}

.wrapper .content-wrapper {
  /* background-color: #f8f9fc; */
  width: 100%;
  /* background-color: #e5e5e5; */
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  align-items: center;
  min-height: 100vh;
  width: 300px;
  /* width: 100%; */
  opacity: 1;
  transition: 0.65s ease;
  background-color: var(--bg);
}

.sidebar.hide {
  opacity: 0;
  width: 0;
  overflow: auto;
}

.sidebar .sidebar-brand {
  display: flex;
  height: 4.375rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 650;
  padding: 0.5rem 0.5rem;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  z-index: 1;
}

.sidebar .sidebar-nav {
  list-style-type: none;
  padding-left: 0px;
  font-size: 1.2rem;
  font-weight: 400;
  width: auto;
}

.sidebar .sidebar-nav .sidebar-nav-item {
  width: 100%;
  /* padding-left: 3%; */
  padding-right: 30%;
  /* transition: all 0.3s linear; */
}

.sidebar .sidebar-nav-item .sidebar-nav-item-link {
  text-decoration: none;
  cursor: pointer;
  color: #202020;
  display: flex;
}

.sidebar .sidebar-nav-item .sidebar-nav-item-link:hover {
  color: #f30775;
  /* padding-left: 20px; */
}

.sidebar .sidebar-nav-item .sidebar-nav-item-link .text {
  padding-left: 10px;
  padding-right: 70%;
}

/* active icon*/
.sidebar .sidebar-nav-item .active .click-active {
  color: #f30775;
}

.sidebar .sidebar-nav-item .active {
  /* color: #f30775; */
  /* transition: all 5s linear; */
}

.arrow {
  transition: 0.15s ease-in;
}
/* active arow */
.sidebar .sidebar-nav-item .active .arrow {
  color: #f30775;
  transform: rotate(-90deg);
  /* align-items: center; */
}
/* sidebar chill item */
.sidebar .sidebar-nav .sidebar-nav-chill {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0px;
  font-size: 1.2rem;
  font-weight: 400;
  width: auto;
  height: 0;
  /* display: none; */
  /* height: 0; */
  /* transition: all 0.3s linear; */
  opacity: 0;
  transition: all 0.65s ease;
  overflow: hidden;
}

.sidebar-nav .sidebar-nav-chill.show {
  /* display: block; */
  height: auto;
  opacity: 1;
}

.sidebar-nav-chill .sidebar-nav-chil-item {
  display: flex;
  padding-left: 8px;
  width: 100%;
}

.sidebar-nav-chill .sidebar-nav-chil-item .sidebar-nav-chil-item-link {
  text-decoration: none;
  cursor: pointer;
  color: #202020;
  /* position: relative; */
}

.sidebar-nav-chill .sidebar-nav-chil-item .sidebar-nav-chil-item-link :hover {
  color: #f30775;
}

.sidebar-nav-chill .sidebar-nav-chil-item .sidebar-nav-chil-item-link .active {
  color: #f30775;
}

/* .sidebar-nav-chill
  .sidebar-nav-chil-item
  .sidebar-nav-chil-item-link.active
  ::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25rem;
  bottom: 0.25rem;
  border-left: 2px solid #5e72e4;
  width: auto;
} */

/* navbar */
.navbar-top {
  position: relative;
  display: flex;
  width: 100%;
  height: 70px;
  left: 0;
  background-color: var(--bg);
  box-shadow: 0px 3px 10px #e4e3e3;
}
.navbar-top .bt-sidebar-hide {
  cursor: pointer;
  color: #202020;
}
.navbar-top .bt-sidebar-hide:active {
  color: #f30775;
}

.navbar-top .navbar-top-conten {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-profile {
  height: 2.5em;
  width: auto;
}
.text-profile {
  /* font-size: 1.3em; */
  font-weight: 400;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
  color: #202020;
}

/* loading */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50vh;
}

/* content */
.content {
  margin-top: 40px;
  margin-left: 10px;
}
.data-table {
  min-width: 100%;
  /* */
  height: calc(100vh - 231px);
  overflow-x: scroll;
}
/* other */
.w-100 {
  width: 100%;
}
